ui = true

api_addr = "http://{{ private_ip }}:8200"
cluster_addr = "http://{{ private_ip }}:8201"

listener "tcp" {
  address = "0.0.0.0:8200"
  cluster_address = "{{ private_ip }}:8201"
  tls_disable = "true"
}

storage "dynamodb" {
  ha_enabled = "true"
  region     = "{{ dynamodb_region }}"
  table      = "{{ dynamodb_table }}"
}

seal "awskms" {
  region     = "{{ kms_region }}"
  kms_key_id = "{{ kms_key_id }}"
}